
node_modules/


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


pids
*.pid
*.seed
*.pid.lock


.DS_Store
Thumbs.db


.env
.env.test
.env.local
.env.*.local

dist/
build/
coverage/


.cache/
.mongodb-memory-server/


.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.gitattributes
.github/

.npm/

*.tgz
*.gz


eslintcache
.nyc_output/


*.swp
*.bak
*.tmp


advanced-url-shortener/node_modules/
advanced-url-shortener/node_modules/.cache/
advanced-url-shortener/node_modules/geoip-lite/data/
